<p style="color: green"><%= notice %></p>

<h1>Mostrando Pelicula <%=@movie.id%> </h1>
<hr>
<div id="showMovie">
<%= render @movie %>
    <%= link_to "Lista Peliculas", movies_path, class: "btn btn-primary"  %>
    <%= link_to "Buscar Detalles", "https://www.themoviedb.org/search/movie?query=#{@movie.name}", class: "btn btn-primary", target: "_blank" %>
    <%= button_to "Borrar esta pelicula", @movie, method: :delete %>
</div>
