<p style="color: green"><%= notice %></p>

<div id="showMovie">
<%= render @movie %>
  <%= link_to "Editar pelicula", edit_movie_path(@movie), class: "btn btn-primary"  %>
  <%= link_to "Lista Peliculas", movies_path, class: "btn btn-primary"  %>

  <%= button_to "Borrar esta pelicula", @movie, method: :delete %>
</div>
