<p style="color: green"><%= notice %></p>

<h1>Mostrando Cliente <%=@client.id%> </h1>
<hr>
<div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Pelicula Actual</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= render @client %>
          <td><%= link_to "Editar cliente", edit_client_path(@client) %></td>
          <td><%= link_to "Volver a la lista", clients_path %></td>
          <td><%= button_to "Borrar cliente", @client, method: :delete %></td>
        </tr>
      </tbody>
    </table>
  </div>